@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
font-family: "Poppins", sans-serif;
    --primary-color:rgb(66, 66, 255);
    --secondary-color:#f2f2f2;
}

/* header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 20px 0 20px;
    border-bottom: 5px dotted black;
    margin-bottom: 10px;
    /* background: linear-gradient(to bottom,rgb(66, 66, 255),white); */
/* } */
nav{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    a{
        color: black;
        text-decoration: none;
    }
} */
.showcase{
    display: grid;
    grid-template-columns: 1fr 1fr;
    h1{
        font-size: 5rem;
         align-self: center;
         padding: 20px;
    }
}
.slider{
    width: 800px;
    height: 600px;
    overflow: hidden;
    border-radius: 30px;
    .wrapper{
        display: flex;
        animation: slide 14s infinite linear;
        img{
            width: 800px;
            height: 600px;
        }
    }
}
@keyframes slide{
    0%{
        transform: translateX(0);       
    }
    100%{
        transform: translateX(-3200px);       
    }
}

/* .login-container{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form{
    background: #f2f2f2;
    width:450px;    
    padding:20px;
    border-radius: 40px;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    gap: 2px;
    label{
        font-size: 18px;
        font-weight: 700;
    }
    input{
        border-radius: 40px;
        border: 0;
        min-height: 50px;
        font-size: 18px;
        padding: 10px;
        &:focus{
            outline: 4px solid black;
        }
        animation: 1s  ease-in-out;
    }
} */

.full-btn {
    width: 100%;
    margin: 5px 0 5px 0;
    height: 50px;
    border-radius: 40px;
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: bold;
}
.ls-5{
    letter-spacing: 3px;
}

.submit-btn{
    background-color: var(--primary-color);
    border:0;
    color: white;
}

.other-btn{
    background-color: var(--secondary-color);
    border: 0;
    &:hover{
        background-color: var(--primary-color);
        color: white;
        animation: 1s ease-in-out;
        cursor: pointer;
    }
}

/* .login-head{
    font-size: 50px;
    margin-bottom: 20px;
    text-underline-offset: 18px;
    text-decoration: underline wavy;
} */
.opbtn a{
    opacity: .5;
}
.opbtn a:hover{
    opacity:1
}
.full-height{
    height: 90vh;
}
.bg-mysecond{
    background-color: var(--secondary-color);
}   

.curve-underline{
    text-decoration:underline wavy; 
    text-underline-offset: 1rem;
}
/* .curve-underline:after{
    content: "";

} */
/* .glass-box {
  background: rgba(242, 242, 242, 0.25); 
  backdrop-filter: blur(12px);          
  -webkit-backdrop-filter: blur(12px);    
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
} */
 
